
.LOGO {
    display: flex;
}


/* .thongtin {
    width: 33%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height: 450%;
    float: left;
    border-radius: 10px;
    align-items: center;
} */


/* .thongtin .anh1 img {
    margin: auto;
    max-width: 150px;
} */


.post-slider .post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0% auto;
    border: 1px dashed red;
}

.post-slider .post-wrapper .post {
    display: inline-block;
    background: royalblue;
}

li {
    list-style: none;
}

.footer {
    width: 98.8%;
    height: 200px;
    background: #001373;
    color: white;
}

.footer img {
    width: 100%;
    height: 170px;
    margin-top: 2.5%;
    margin-left: 10%;
}

.footer .diachi {
    margin-top: 2.5px;
    margin-left: 5%;
}

